{% extends 'Layout.html.twig' %}

    {% block title %}
        title here
    {% endblock title %}

    {% block head %}
        {{ stylesheets|raw }}
    {% endblock head %}

{% block content %}
    <div class="container">
        <br />
        <div class="jumbotron">
            <h1><a href="{{ path_for('page') }}">RunPages Module</a></h1>
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
                responsive, mobile-first projects on the web.</p>
        </div>

        <div class="panel panel-group">
            <div class="btn-group pull-left">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>
            <div class="btn-group pull-right">
                &nbsp;
            </div>
        </div>
        <br />
        <hr />
        {% if data is not empty %}
            {% for row in data %}
            <p><a href="{{ path_for('page', {'slug': row.slug}) }}">{{ row.title }}</a></p>
            <p>{{ row.body }}</p>
            {% endfor %}
        {% else %}
            <p class="text-center"><strong>nothing to show :(</strong></p>
        {% endif %}
        <hr>

        <div class="panel panel-group">
            <div class="btn-group pull-left">
                <div class="float_left">
                    {{ multipage|raw }}
                </div>
            </div>
            <div class="btn-group pull-right">
                &nbsp;
            </div>
        </div>
    </div>
    <br />
{% endblock content %}