{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; RunPages Module
    {% endblock %}

{% block admincontent %}
    <br><br><br>
    <div align="center">Config</div>
    <div align="center">bla-bla</div>
{% endblock admincontent %}