{% extends 'Admin/AdminLayout.html.twig' %}

    {% block title %}
        RunCMF Admin Area &ndash; RunPages Module
    {% endblock %}

{% block admincontent %}
    <div class="row page-header-box">
        <div class="col-xs-10">
            <h3>{{ pagetitle }}</h3>
        </div>
        <div class="col-xs-2">
            <a href="#" id="btn-page-add" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add Page</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Locale</th>
                        <th>Slug</th>
                        <th>Title</th>
                        <th style="width:15%" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody id="page-table">
                    {% if pages is not empty %}
                        {% for page in pages %}
                            <tr id="page-row-{{ page.page_id }}">
                                <td>{{ page.page_id }}</td>
                                <td>{{ page.created_at }}</td>
                                <td>{{ page.slug }}</td>
                                <td>{{ page.title }}</td>
                                <td class="text-center">
                                    <a data-id="{{ page.page_id }}" class="btn btn-xs btn-primary btn-page-edit" href="#"><i class="fa fa-edit fa-fw"></i>Edit</a>
                                    <a data-id="{{ page.page_id }}" class="btn btn-xs btn-danger btn-page-delete" href="#"><i class="fa fa-times fa-fw"></i>Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr id="page-row-0">
                            <td colspan="5" class="text-center">
                                <br>
                                <p><strong>nothing to show :(</strong></p>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                <br />
                <div class="panel panel-group">
                    <div class="btn-group pull-left">
                        <div class="float_left">
                            {{ multipage|raw }}
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        &nbsp;
                    </div>
                </div>
                <br />

            </div>
        </div>
    </div>
    <div class="modal fade" id="page-modal">
        <div class="modal-dialog" style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-title">Page Form</h4>
                </div>
                <div class="modal-body">
                    {% include '@pages/Admin/PageForm.html.twig' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success btn-sm" id="btn-page-save" data-method="">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock admincontent %}