<form role="form" class="form-horizontal" id="page-form-data">
    <input type="hidden" id="page_id" name="id">

    <div class="form-group">
        <label for="title" class="col-lg-2 control-label">Page Title</label>
        <div class="col-lg-10">
            <input type="text" class="input-sm form-control validate[required]" name="title" id="page_title" placeholder="Page Title">
        </div>
    </div>

    <div class="form-group">
        <label for="slug" class="col-lg-2 control-label">Slug</label>
        <div class="col-lg-10">
            <input type="text" class="input-sm form-control validate[required]" name="slug" id="page_slug" placeholder="Slug">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-12">
            <textarea class="form-control" rows="20" name="body" id="page_body" placeholder="Page Body" style="height: 100%; width: 100%"></textarea>
            {{ editor|raw }}
        </div>
    </div>

    <div class="form-group">
        <label for="group" class="col-lg-2 control-label">Group</label>
        <div class="col-lg-10">
            <select name="group" id="group" multiple="true" class="input-sm form-control">
                {% for group in groups %}
                    <option value="{{group.id}}">{{group.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" class="input-sm form-control validate[required,minSize[6],maxSize[50]]" name="password" id="password" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label for="confirm_password" class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-10">
            <input type="password" class="input-sm form-control validate[required,equals[password]]" name="confirm_password" id="confirm_password" placeholder="Confirm password">
        </div>
    </div>
</form>